:root {
    --primary-color: #4c8baf;
    --secondary-color: #ff9800;
    --font-color: #ffffff;
    /* Zus채tzliche Textfarben */
    --text-primary: #e93636;
    /* Haupt-Textfarbe */
    --text-secondary: #666666;
    /* Sekund채re Textfarbe */
    --radius : 10px;
    /* Haupt-Hintergrundfarbe */
    --bg-nav: #ffffff;
    /* Sekund채rer Hintergrundfarbe */
    --bg-container: #111010;
    /* Container-Hintergrundfarbe */
}

[data-theme="dark"] {
    /* Dunkles Theme */
    --primary-color: #66bb6a;
    --background-primary: #121212;
    --text-primary: #ffffff;
}
body {
    background-color: rgb(44, 42, 42);
    margin: 0;
    color: var(--font-color);
}
header {
    background-color: rgb(68, 68, 68);
    height: auto;
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     position: sticky;
    top: 0;
    z-index: 100;
}


.sub-header{
    background-color: #111010;
    display: flex;
    justify-content: space-evenly;
}
.untertitel{
    color: var(--font-color);
    text-align: center;
    padding: 5px;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;   
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    margin: 0 auto;
    background-color: var(--bg-container);
    padding: 20px;
    margin-top: 20px;
    
}
.bild{
    width: 50vw;
    height: 50vh;
    border-radius: var(--radius);
    margin-left: 20px;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 10vh;
    width: auto;
    text-align: center;
    align-items: center;
}
.titel {
    font-size: 35px;
    color: var(--font-color);
    font-weight: bold;
  
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav ul {
    display: flex;
    /* padding-left: 10px; */
    text-decoration: none;
}
.nav ul li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    color: var(--font-color);
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--font-color);
}

.nav ul li a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;    
    text-decoration: underline;
}


/*  Responsive Design f체r kleinere Bildschirme */

@media (max-width: 500px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }

    .nav ul {
        display: flex;
        /* padding-left: 10px; */
        background-color: var(--primary-color);
    }
}