:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-color: #b41c1c;
    /* Zus채tzliche Textfarben */
    --text-primary: #e93636;
    /* Haupt-Textfarbe */
    --text-secondary: #666666;
    /* Sekund채re Textfarbe */
    --Bg-: #1e1919;
    /* Haupt-Hintergrundfarbe */
    --bg-nav: #ffffff;
    /* Sekund채rer Hintergrundfarbe */
    --bg-container: #f5f5f5;
    /* Container-Hintergrundfarbe */
}

[data-theme="dark"] {
    /* Dunkles Theme */
    --primary-color: #66bb6a;
    --background-primary: #121212;
    --text-primary: #ffffff;
}

body {
    background-color: rgb(44, 42, 42);
    margin: 0;
    color: var(--font-color);
}

header {
    background-color: rgb(68, 68, 68);
    height: auto;
    border-radius: 0 0 20px 20px;
}

.container {
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    margin: 0 auto;
    background-color: grey;
    padding: 20px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;

}

.nav ul {
    display: flex;
    /* padding-left: 10px; */

}

.nav ul li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: blue;
}


/*  Responsive Design f체r kleinere Bildschirme */

@media (max-width: 500px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }

    .nav ul {
        display: flex;
        /* padding-left: 10px; */
        background-color: var(--primary-color);
    }
}

